<!DOCTYPE html>
<html>
  <head>
    <title>UdeSA Movies</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include("./partials/header.ejs") %>
    <%- include("./partials/menu.ejs") %>

    <h2>Lista de todos los títulos de películas</h2>
    <p>Hacer click en cada título debe llevar al detalle de la película clickeada.</p>
       
      <ul>
        <!-- Completá el código para mostrar una lista con los títulos de las películas. Cada título debe ser un hipervínculo. -->
        
      </ul>

  </body>
</html>
