<!DOCTYPE html>
<html>
  <head>
    <title>UdeSA Movies</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include("./partials/header.ejs") %>
    <%- include("./partials/menu.ejs") %>

    <p>Detalles de la película </p>
    <h2>Reemplazá este texto por el título de la película</h2>
    
    <p>Mostrá debajo los demás datos de la película.</p>
       
      

  </body>
</html>
