<header>
    <!-- logo -->
    <!-- nav -->
     <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Cars</a></li>
        </ul>
     </nav>
    <!-- form -->
</header>